.gradient-text {
  font-size: 36px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #edd287 0%, #b8860b 100%); /* Gradient Colors */
  -webkit-background-clip: text;  /* Apply the gradient to the text */
  color: transparent;  /* Make the text transparent so the gradient is visible */
}
