.gradient-text {
  font-size: 36px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #edd287 0%, #b8860b 100%);
  -webkit-background-clip: text; 
  color: transparent; 
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.shadow-bottom {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.box_shadow {
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
}